<!-- Validation failure messages -->
<% if @venturefund.errors.any? %>
  <% @venturefund.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Venturefund</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_venturefund" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @venturefund.name %>">
      </div>

      <!-- Label and input for image_url -->
      <div class="form-group">
        <label for="image_url" class="control-label">
          Image url
        </label>

        <input type="text" id="image_url" name="image_url" placeholder="Image url" class="form-control" value="<%= @venturefund.image_url %>">
      </div>

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="<%= @venturefund.address %>">
      </div>

      <!-- Label and input for funding -->
      <div class="form-group">
        <label for="funding" class="control-label">
          Funding
        </label>

        <input type="text" id="funding" name="funding" placeholder="Funding" class="form-control" value="<%= @venturefund.funding %>">
      </div>

      <!-- Label and input for industry -->
      <div class="form-group">
        <label for="industry" class="control-label">
          Industry
        </label>

        <input type="text" id="industry" name="industry" placeholder="Industry" class="form-control" value="<%= @venturefund.industry %>">
      </div>

      <!-- Label and input for intro -->
      <div class="form-group">
        <label for="intro" class="control-label">
          Intro
        </label>

        <input type="text" id="intro" name="intro" placeholder="Intro" class="form-control" value="<%= @venturefund.intro %>">
      </div>

      <!-- Label and input for partner -->
      <div class="form-group">
        <label for="partner" class="control-label">
          Partner
        </label>

        <input type="text" id="partner" name="partner" placeholder="Partner" class="form-control" value="<%= @venturefund.partner %>">
      </div>

      <!-- Label and input for portfolio -->
      <div class="form-group">
        <label for="portfolio" class="control-label">
          Portfolio
        </label>

        <input type="text" id="portfolio" name="portfolio" placeholder="Portfolio" class="form-control" value="<%= @venturefund.portfolio %>">
      </div>

      <button class="btn btn-success">
        Create Venturefund
      </button>
      or
      <a href="/venturefunds">Cancel</a>
    </form>
  </div>
</div>
