<div class="page-header">
  <h3><img src="<%= @venturefund.image_url %>"></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <div class="btn-group btn-group-justified">
        <a href="/venturefunds" class="btn btn-primary">
          <i class="fa fa-chevron-left"></i>
        </a>
        <% if current_user.id==@venturefund.User_id%>
        <a href="/venturefunds/<%= @venturefund.id %>/edit" class="btn btn-warning">
          <i class="fa fa-fw fa-edit"></i></a>
          <%else  %>
          <%end  %>
        <% if current_user.id==@venturefund.User_id%>
        <a href="/delete_venturefund/<%= @venturefund.id %>" class="btn btn-danger" rel="nofollow">
          <i class="fa fa-trash-o"></i>
        </a>
        <%else  %>
        <%end  %>
      </div>


      <dt>Name</dt>
      <dd><a href="https://www.google.com/#q=<%= @venturefund.name %>"><%= @venturefund.name %></a></dd>



      <dt>Address</dt>
      <dd><%= @venturefund.address %></dd>

      <dt>Investment Size (Mn USD)</dt>
      <dd><%= @venturefund.funding %></dd>

      <dt>Invested Industry(ies)</dt>
      <dd><%= @venturefund.industry %></dd>

      <dt>Intro</dt>
      <dd><%= @venturefund.intro %></dd>

      <dt>Founding Partner</dt>
      <dd><%= @venturefund.user.username %> (<a href="mailto:<%= @venturefund.user.username.strip.gsub(/[^a-z0-9\s]/i, "").gsub(" ","") %>@example.com?Subject=Hello%20from%20Venturelinks">Contact</a>)</dd>

      <dt>Portfolio</dt>
      <% @portfoliocompany=@venturefund.portfolio.split %>

      <% @portfoliocompany.each do |portfoliocompany| %>
<dd><a href="https://www.google.com/#q=<%= portfoliocompany %>"><%= portfoliocompany %></a></dd>

<%end  %>
    </dl>


  </div>
</div>
